p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 90%;
}
p.principal {
    text-align: justify;
}
p.negritas {
    font-style: bold;
}

p.linea {
    text-decoration: underline;
}
/*header*/
.container-top {
    text-align: right;
    margin-top: 10%;
}
.container-top p {
    display: inline;
    line-height: 1px;
}
/*contenido*/
.container {
    position: relative;
    
}
.container p {
    display: inline;
}
.container-mid {
    text-align: center;
    line-height: 1px;
}
.texto-mid {
    position: absolute;
    top: 20%;
}
.codigo {
    position: absolute;
    top: 210%;
    left: 41%;
}
/*tabla*/
table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    margin: 0 0 1em 0;
 }
 caption, td, th {
    padding: 0.3em;
 }
 th, td {
    border: 1px solid #000;
 }
 th {
    width: 25%;
 }
 /*footer*/
.container-bot {
    margin-top: 5%;
    text-align: center;
    font-size: 90%;
}
.texto-footer {
    position: absolute;
    line-height: 1px;
    bottom: 30%;
}
/*imagenes */
img#firma {
    width: 15%;
}
img#qr {
    position: absolute;
    float: left;
    width: 17%;
}
img#ssp {
    position: absolute;
    float: right;
    width: 30%;
}
img#footer {
    width: 113%;
}